<table>
    <tr>
        <td><button id="btnAction01" class="btn-action">Action 01</button></td>
        <td><button id="btnAction02" class="btn-action">Action 02</button></td>
        <td><button id="btnAction03" class="btn-action">Action 03</button></td>
        <td><button id="btnAction04" class="btn-action">Action 04</button></td>
        <td><button id="btnAction05" class="btn-action">Action 05</button></td>
        <td><button id="btnAction06" class="btn-action">Action 06</button></td>
        <td><button id="btnAction07" class="btn-action">Action 07</button></td>
        <td><button id="btnAction08" class="btn-action">Action 08</button></td>
        <td><button id="btnAction09" class="btn-action">Action 09</button></td>
        <td><button id="btnAction10" class="btn-action">Action 10</button></td>
        <td><button id="btnAction11" class="btn-action">Action 11</button></td>
    </tr>
    <tr>
        <td><button id="btnAction12" class="btn-action">Action 12</button></td>
        <td><button id="btnAction13" class="btn-action">Action 13</button></td>
        <td><button id="btnAction14" class="btn-action">Action 14</button></td>
        <td><button id="btnAction15" class="btn-action">Action 15</button></td>
        <td><button id="btnAction16" class="btn-action">Action 16</button></td>
        <td><button id="btnAction17" class="btn-action">Action 17</button></td>
        <td><button id="btnAction18" class="btn-action">Action 18</button></td>
        <td><button id="btnAction19" class="btn-action">Action 19</button></td>
        <td><button id="btnAction20" class="btn-action">Action 20</button></td>
        <td><button id="btnAction21" class="btn-action">Action 21</button></td>
        <td><button id="btnAction22" class="btn-action">Action 22</button></td>
    </tr>
</table>

