<table>
    <tr>
        <td><button id="" class="btn-production-on">Pits</button></td>
        <td><button id="" class="btn-production-off">Chaise</button></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><button id="" class="btn-production-on">Scarfing</button></td>
        <td><button id="" class="btn-production-on">Cisaille 1500T</button></td>
        <td><button id="" class="btn-production-off">Ripeur1</button></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><button id="" class="btn-production-off">Gestion Pits</button></td>
        <td></td>
        <td><button id="" class="btn-production-off">Vireur</button></td>
        <td><button id="" class="btn-production-on">Blooming</button></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><button id="" class="btn-production-off">Ripeur 2</button></td>
        <td><button id="" class="btn-production-on">Cage 900</button></td>
        <td><button id="" class="btn-production-off">Ripeur 3</button></td>
        <td><button id="" class="btn-production-on">Découpe</button></td>
        <td><button id="" class="btn-production-on">Marquage</button></td>
        <td><button id="" class="btn-production-on">Refroidissoir 2</button></td>
        <td><button id="" class="btn-production-on">Refroidissoir 3</button></td>
    </tr>
</table>

